<div class="px-10 text-gray-300">

  <div class = "mb-5">

    <div class="flex items-center flex-wrap sm:flex-nowrap">
      <div class="mr-2 bg-slate-300 p-1 rounded"><img class="complogo" src="assets/stocklogo/{{stock.symbol}}.png"></div>
      <div><h3 class="text-xl ml-3"><b>{{stock.name.en}}</b></h3></div>
    </div>

  </div>

  <div class="col-auto mb-8">
    <h3 class="text-2xl text-center"> Income Statement : {{stock.period}}</h3>
  </div>

<!-- Chart & Table -->
<div class="flex flex-row">
  <div class="basis-1/4 mr-10"> <!-- Right 1/4 Col-->
    <div class="flex flex-col">

      <div class="">
        <canvas width="600" height="200" id="chartIncome"></canvas>
      </div>

      <div class="mt-3">
        <canvas width="600" height="200" id="chartGP"></canvas>
      </div>

      <div class="mt-3">
        <canvas width="600" height="200" id="chartNP"></canvas>
      </div>

    </div>

  </div>

  <div class="basis-3/4"> <!-- Left 3/4 Col-->
    <div class="flex flex-row"> <!-- Card Area In Single Row-->

      <div class="basis-1/3"> <!-- Card TotalRevenue-->
        <h3 class="text-xl">{{stock.totalRevenueItemName}}</h3>
        <h4 class = "text-2xl text-green-600">
          {{ stock.totalRevenue  | number:'1.2-2' }} MB.
        </h4>
        <p class = "mb-0 text-xs">Last Year:
          {{ stock.totalRevenueLastYear | number:'1.2-2' }} MB.
        </p>
        <p class = "mb-0 text-xl" >YOY :
          <span class = "text-green-600">
            <!-- <span [class]="stock.totalRevenusYoY < 0 ? 'text-red-500' : ''">
              {{ stock.totalRevenusYoY  | number:'1.2-2' }}  MB.
            </span> : -->
            <span [class]= "stock.totalRevenusYoYPercent < 0 ? 'text-red-500' : ''">
              {{ stock.totalRevenusYoYPercent | number:'1.2-2' }} %
            </span>
          </span>
        </p>
      </div>

      <div class="basis-1/3"> <!-- Card GrossProfit-->
        <h3 class="text-xl">{{stock.grossProfitItemName}}</h3>
        <h4 class = "text-2xl text-green-600">
          <span [class]="stock.gp < 0 ? 'text-red-500' : ''">
            {{ stock.gp  | number:'1.2-2' }} MB.
          </span>
        </h4>
        <p class = "mb-0 text-xs">Last Year :
          {{ stock.gpLastYear  | number:'1.2-2' }} MB.
        </p>
        <p class = "mb-0 text-xl" >YOY :
          <span class = "text-green-600">
            <!-- <span [class]="stock.gpYoY < 0 ? 'text-red-500' : ''">
              {{ stock.gpYoY   | number:'1.2-2' }} MB.
            </span> : -->
            <span [class]= "stock.gpYoYPercent < 0 ? 'text-red-500' : ''">
              {{ stock.gpYoYPercent | number:'1.2-2' }} %
            </span>
          </span>
        </p>
      </div>

      <div class="basis-1/3"> <!-- Card NetProfit-->
        <h3 class="text-xl">{{stock.netProfitItemName}}</h3>
        <h4 class = "text-2xl text-green-600">
          <span [class]="stock.np < 0 ? 'text-red-500' : ''">
            {{ stock.np  | number:'1.2-2' }} MB.
          </span>
        </h4>
        <p class = "mb-0 text-xs">Last Year :
          {{ stock.npLastYear | number:'1.2-2' }} MB.
        </p>
        <p class = "mb-0 text-xl" >YOY :
          <span class = "text-green-600">
            <!-- <span [class]="stock.npYoY < 0 ? 'text-red-500' : ''">
              {{ stock.npYoY  | number:'1.2-2' }}  MB.
            </span> : -->
            <span [class]= "stock.npYoYPercent < 0 ? 'text-red-500' : ''">
              {{ stock.npYoYPercent | number:'1.2-2' }} %
            </span>
          </span>
        </p>
      </div>
    </div>

    <div class="flex flex-row"> <!-- Table Area In Single Row-->
      <div class="mt-10">
        <h2 class="text-xl mb-3">Year on Year by Quarter (MB.)</h2>
        <div id="tableQoQ"></div>
      </div>
    </div>
  </div>



</div>

<div class="mt-8">

  <h1 class="text-2xl mb-5">Historical Income Statement</h1>
  <div id="tableMain"></div>

</div>

</div>


