<div class="container">

  <div class="mb-3 mt-3">
    <input type="text" class="form-control" placeholder="symbol" [(ngModel)]="symbol">
  </div>

  <br>
  <!--
  <div class="row">
    <div class="col-sm-12 center">
      <img class="complogo" src="assets/stocklogo/{{data.symbol}}.png"> <h3>Income Statement  |  {{symbol}}</h3>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-sm-12 center">
      <h3> Income Statement  <img class="complogo" src="assets/stocklogo/{{stock.symbol}}.png"> </h3>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-2">
      <h5>Revenue</h5>
      <h4>143,350</h4>
      <h6>QoQ : 143,350</h6>
      <h6>+17,123 : +13.65%</h6>
    </div>

    <div class="col-sm-2">
      <h5>Gross Profit</h5>
      <h4>143,350</h4>
      <h6>QoQ : 143,350</h6>
      <h6>+17,123 : +13.65%</h6>
    </div>

    <div class="col-sm-2">
      <h5>Net Profit</h5>
      <h4>143,350</h4>
      <h6>QoQ : 143,350</h6>
      <h6>+17,123 : +13.65%</h6>
    </div>

    <div class="col-sm-4">.col-sm-4</div>


  </div>



</div>
